<footer>
    <div class="f-info">
        <div> &copy; 2023 WanderLust Inc</div>
        <div class="f-info-links">
            <a class="tags" href="/privacy">Privacy</a>
            <a  class="tags" href="/terms">Terms</a>
            <a  class="tags" href="/sitemap">Sitemap</a>
            <a  class="tags" href="/companyinfo">Company Details</a>
        </div>
        <div class="f-info-socials">
            <a href="https://www.instagram.com/yashtripathiii?igsh=OXJnZTY0OHJxZHF1"><i class="fa-brands fa-instagram" style="color: #f066c4;"></i></a>
            <i class="fa-brands fa-facebook" style="color: #518df5;"></i>
            <i class="fa-brands fa-discord" style="color: #5680c8;"></i>
            <i class="fa-brands fa-linkedin" style="color: #20488d;"></i>
        </div>
    </div>
</footer>